<div class="[ max-w-screen-lg mx-auto pt-8 ]">
    <h2 class="[ heading__secondary ]">
        New Task
    </h2>
    
    <form (ngSubmit)="onSubmit()" [formGroup]="newTaskForm">
    

        <div class="[ my-4 ]">

            <label for="task-name">Name</label>
            <input class="[ input__primary ]" type="text" placeholder="task name" required name="name"
                formControlName="name" id="task-name"/>

            <div *ngIf="(newTaskForm.get('name').dirty)">
                <div *ngIf="newTaskForm.get('name').errors?.required">Name is required</div>
            </div>

        </div>

        <div class="[ my-4 ]">   

            <label for="task-type">Type</label>      
            <select  class="[ input__primary ]" placeholder="task name" required name="type"
            formControlName="type" id="task-type">
                <option value="Survey" selected>Survey</option>
                <option value="Tree test">Tree test</option>
                <option value="Card sorting">Card sorting</option>
            </select>

        </div>
    
    
        <div class="[ flex justify-end ]">
            <button class="[ btn__primary-color ]" type="submit" (click)="onSubmit()">Create Task</button>
        </div>
    
    
    </form>
</div>