<div class="[ max-w-screen-lg mx-auto pt-8 ]">


    <h2 class="[ heading__secondary ]">
        New Task
    </h2>
    

    <form class="[ px-14 pt-6 pb-10 my-8 ] [ bg-background ] [ rounded-lg shadow-2xl ]" (ngSubmit)="onSubmit()" [formGroup]="newTaskForm">
    

        <div class="[ my-4 ]">

            <label for="task-name">Name</label>
            <input class="[ input__primary ]" type="text" placeholder="task name" required name="name"
                formControlName="name" id="task-name"/>

            <div *ngIf="(newTaskForm.get('name').dirty)">
                <div *ngIf="newTaskForm.get('name').errors?.required">Name is required</div>
            </div>

        </div>

        <div class="[ my-4 ]">   

            <label for="task-type">Type</label>      
            <select  class="[ input__primary ]" required name="type"
            formControlName="type" id="task-type">
                <option value="Survey" selected>Survey</option>
                <option value="Tree test">Tree test</option>
                <option value="Card sorting">Card sorting</option>
            </select>

        </div>

    
    </form>

    <button class="[ btn__primary-color w-full mt-10 ]" *ngIf="newTaskForm.get('type').value.length === 1">Create Task</button>

        <div>

            <app-create-survey (createSurvey)="createSurvey($event)" *ngIf="type.value === 'Survey'"></app-create-survey>
            <app-create-card-sorting *ngIf="type.value === 'Card sorting'"></app-create-card-sorting>
            <app-create-tree-test *ngIf="type.value === 'Tree test'"></app-create-tree-test>
    
        </div>   


    <div class="[ overlay__white ]" *ngIf="taskPosting || taskPosted">
    
        
        <div class="[ flex flex-col items-center ]" *ngIf="taskPosting">
            <div  class="lds-facebook"><div></div><div></div><div></div></div>
            <p class="[ text-4xl font-bold ]">Creating Task</p>
        </div>

        <div class="[ flex flex-col items-center ]" *ngIf="taskPosted">
            <span class="[ text-6xl font-bold text-green-400 ]">✔</span>
            <p class="[ text-4xl font-bold ]">Task created</p>
        </div>


    </div>


</div>