<form [formGroup]="searchForm">

    <div class="[ mb-4 mt-8 flex justify-center ]">

        <input class="[ border border-contrast px-40 rounded-lg ]" type="text" placeholder="Search for a campaign"
            name="search" formControlName="search" />

    </div>

</form>

<div class="[ mt-12 py-10 ] [ bg-background ] [ rounded-md shadow-lg ]" *ngIf="!campaigns || campaigns?.length === 0">
    <p class="[ p-2 text-center w-full ] [ text-xl ]">You have not created your first campaign yet</p>
</div>

<ul class="[ mx-auto my-10 ] [ bg-white ] [ rounded-lg shadow-2xl ]">
    <li *ngFor="let campaign of campaigns" [routerLink]="['/campaign', campaign._id]">
        <div class="[ p-2 ] [ text-lg ] [ border border-primary cursor-pointer ]"
            *ngIf="campaign.name.indexOf(searchForm.get('search').value) > -1">{{campaign.name}}</div>
    </li>
</ul>