<form class="[ p-14 my-8 ] [ bg-background ] [ rounded-lg shadow-2xl ]"
    [formGroup]="newCardSortingForm">



    <h3 class="[ font-bold my-2 ]">Intructions</h3>

 
    <div>

            <label class="[ hidden ]" for="instructions">instructions</label>
            <textarea class="[ input__primary ]" cols="30" rows="4"   required
                name="instructions" [formControlName]="'instructions'" id="instructions"></textarea>

    </div>





    <h3 class="[ font-bold my-2 ]">Task categories</h3>

    <div *ngIf="categories.length > 0" class="[ m-8 ]  [ border border-b-0 border-primary ]">

        <div class="[ flex justify-between p-3 ] [ bg-white ] [ border-b border-primary  ]" *ngFor="let category of categories ; let i=index">
            <p>{{category}}</p>
            <button class="[ underline ]" (click)="deleteCategory(i)">Remove</button>
        </div>

    </div>



    <div class="[ flex mb-8 mt-5]">

        <div class="[ flex-grow ]">

            <label class="[ hidden ]" for="category">Category</label>
            <input class="[ input__primary ]" type="text" placeholder="Write your category name" required
                name="category" [formControlName]="'category'" id="category"/>

        </div>


        <div>
            <button class="[ btn__primary-light ] [ mx-2 ]" (click)="addCategory()">Add category</button>
        </div>

    </div>




    <h3 class="[ font-bold my-2 ]">Cards</h3>

    <div *ngIf="cards.length > 0" class="[ flex m-5 flex-wrap ]">

        <div class="[ lozenge ] [ flex justify-between flex-wrap p-2 mx-2 mb-2 ] [ bg-white ]" *ngFor="let card of cards ; let i=index">
            <p>{{card}}</p>
            <button class="[ ml-2 ] [ font-bold text-contrast ]" (click)="deleteCard(i)">x</button>
        </div>

    </div>


    <div class="[ flex ]">

        <div class="[ flex-grow ]">

            <label class="[ hidden ]" for="card">Card</label>
            <input class="[ input__primary ]" type="text" placeholder="Write card name" required name="card"
                [formControlName]="'card'" id="card" (keyup.enter)="addCard()" />

        </div>

        <div>
            <button class="[ btn__primary-light ] [ mx-3 ]" (click)="addCard()">Add card</button>
        </div>

    </div>




</form>

<button class="[ btn__primary-color w-full my-10  ]" type="submit" (click)="onSubmit()">Create Task</button>