<!-- <form (ngSubmit)="onSubmit()" [formGroup]="newCampaignForm">

    <div class="[ my-4 ]">
        <input class="[ w-full ]  [ border-0 rounded-md ]" type="text" placeholder="campaign name" required name="name"
        formControlName="name" />
        <div *ngIf="(newCampaignForm.get('name').dirty)">
            <div *ngIf="newCampaignForm.get('name').errors?.required">Name is required</div>
        </div>
    </div>
    <button type="submit">Create campaign</button>
</form>

<button>New campaign</button> -->

<p>create app works</p>