<div class="[ grid grid-cols-4 ]">
    <aside class="[ bg-contrast ] ">
        <nav>
            <ul>
                <li class="[ p-4 py-6 ]">Tasks</li>
                <li class="[ p-4 py-6 ]">Report</li>
            </ul>
        </nav>
    </aside>
    <div class="[ p-4 pt-8 ] [ col-start-2 col-end-5 ]">
        <h2 class="[ heading__secondary ]">{{campaign?.name}}</h2>
        <button class="[ btn__primary-color ] [ -mt-8 ] [ float-right ]" routerLink="new-task">New task</button>
    </div>
</div>