<form class="[ px-20 pt-10 pb-16 mb-12 mt-20 ] [ bg-background ] [ rounded-lg shadow-2xl ]" action=""
    [formGroup]="completedTaskForm">



    <div *ngFor="let question of task.questions; let i=index">

        <h3 class="[ mt-8 ] [ text-xl font-bold ]">{{question.question}}</h3>

        <div *ngFor="let option of question?.options?.split(','); let optionIndex=index">

            <div *ngIf="!question.multipleChoice" >
                <input type="radio" [name]="'question'+(i+1)"
                    [formControlName]="'question'+(i+1)" [id]="'option'+(i+1)+'.'+(optionIndex+1)" [value]="option" />
                <label class="[ ml-3 ]" [for]="'option'+(i+1)+'.'+(optionIndex+1)">{{option}}</label>
            </div>

      
                <div [formGroupName]="'question'+(i+1)">
                    <div *ngIf="question.multipleChoice === true">
                        <input type="checkbox" [name]="'option'+(optionIndex+1)" [formControlName]="optionIndex"
                            [id]="'option'+(i+1)+'.'+(optionIndex+1)" [value]="option" />
                        <label class="[ ml-3 ]" [for]="'option'+(i+1)+'.'+(optionIndex+1)">{{option}}</label>
                    </div>
                </div>

        </div>


        <div *ngFor="let tag of question?.tags?.split(','); let tagIndex=index">

            <input type="radio" [name]="'question'+(i+1)" [formControlName]="'question'+(i+1)" [id]="'tag'+(i+1)+'.'+(tagIndex+1)" [value]="tag" />
            <label class="[ ml-3 ]" [for]="'tag'+(i+1)+'.'+(tagIndex+1)" >{{tag}}</label>

        </div>


    </div>


</form>

<button class="[ btn gradient-bg w-full ] [ text-xl font-extrabold text-white ]" (click)="onSubmit()">Submit my answers</button>



<div class="[ overlay__white ]" *ngIf="taskPosting || taskCompleted">
    
        
    <div class="[ flex flex-col items-center ]" *ngIf="taskPosting && !taskCompleted">
        <div  class="lds-facebook"><div></div><div></div><div></div></div>
        <p class="[ text-4xl font-bold ]">Submiting your answers</p>
    </div>

    

    <div class="[ flex flex-col items-center ]" *ngIf="taskCompleted">
        <span class="[ text-6xl font-bold text-green-400 ]">✔</span>
        <p class="[ text-4xl font-bold ]">Your answers have been submited</p>
        <p class="[ text-4xl font-bold ]">Thanks for participating</p>
    </div>


</div>