<div class="[ bg-primary pb-20 pt-10 ]">
    <div class="[ max-w-screen-xl mx-auto text-right ]">
        <p class="[ px-7 pb-2 ] [ text-lg text-text font-heading font-bold ]">Designed and developed by <a class="[ underline ]" href="https://laurainfantes.netlify.app/"
                target="_blank" rel="noopener noreferrer">Laura Infantes</a></p>
        <p class="[ px-7 ] [ text-text font-heading  ]">Student project @ <a href="https://uoc.edu" target="_blank" rel="noopener noreferrer">UOC</a></p>
        <p class="[ px-7 ] [ text-text font-heading font-bold ]">2021</p>
    </div>
</div>