<main class="[ section__full-screen ] [ flex align-middle ]">


  <section class="[ section__central-overlayed ] [  max-w-screen-sm flex-grow bg-background ]" aria-label="login or register">


    <h1 class="[ heading__main ] [ text-center ]">Bucle</h1>
    <p class="[ text-center ][ italic ]">UX tools unified</p>

    <div>


      <form (ngSubmit)="onSubmit()" [formGroup]="loginForm">


        <!-- username -->
        <div class="[ my-4 ]">
          <input class="[ input__primary ]" type="text" placeholder="email" required name="email" formControlName="email" />
          <div *ngIf="(loginForm.get('email').dirty || message)">
            <div *ngIf="loginForm.get('email').errors?.email">Invalid email</div>
            <div *ngIf="loginForm.get('email').errors?.required">Email is required</div>
          </div>
        </div>


        <!-- password -->
        <div class="[ my-4 ]">
          <input class="[ input__primary ]" type="password" placeholder="Password" required name="password" formControlName="password" />
          <div *ngIf="(loginForm.get('password').dirty || message)">
            <div *ngIf="loginForm.get('password').errors?.required">Password is required</div>
          </div>
        </div>


        <p class="[ mb-9 ]">{{ message }}</p>


        <div class="[ flex ]">
          <button class="[ btn ] [ w-1/3 mr-1 ] [ bg-secondary text-white text-xl font-extrabold ]" type="submit" (click)="action='register'">Sign up</button>
          <button class="[ btn ] [ flex-grow gradient-bg text-white text-xl font-extrabold hover:shadow-xl ]" type="submit" (click)="action='login'">Login</button>
        </div>


      </form>


    </div>
  </section>


</main>

<button class="[ btn gradient-bg ] [ flex-grow ] [ mx-auto ] [ font-extrabold ]">Next</button>